@{
    ViewData["Title"] = "Ledger";
}
@model List<BOL.TransactionBOL>;

<div class="row">
    <div class="col-12">
        <h1>
            Ledger
        </h1>
        <h3>For user: @Model.First().Username</h3>
        <h3>Total transactions: @Model.Count</h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Action</th>
                    <th scope="col">Asset Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price Acted</th>
                    <th scope="col">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BOL.TransactionBOL transaction in Model)
                {
                    <tr>
                        <th>
                            @transaction.Date
                        </th>
                        @{
                            if (transaction.Type == BOL.Enums.ETransactionType.Buy)
                            {
                                <th>Buy</th>
                            }
                            else if (transaction.Type == BOL.Enums.ETransactionType.Sell)
                            {
                                <th>Sell</th>
                            }
                            else if (transaction.Type == BOL.Enums.ETransactionType.Draw)
                            {
                                <th>Draw</th>
                            }
                        }
                        <th>@transaction.AssetLongName (@transaction.AssetShortName)</th>
                        <th>@transaction.Quantity.ToString("0.00")</th>
                        <th>@transaction.Price.ToString("0.00")</th>
                        <th>@((transaction.Price*transaction.Quantity).ToString("0.00"))</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>