@inject BLL.Interfaces.ITransactionService _transactionService;
@inject BLL.Interfaces.IAssetService _assetService;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Portfolio";
    Guid userId = Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value.ToString());
    List<BOL.TransactionBOL> transactions = await _transactionService.GetAllForUser(userId);
    List<BOL.AssetBOL> holdings = (await _assetService.GetHoldingsForUser(userId)).Where(h => h.Class != BOL.Enums.EAssetClass.Cash).ToList();
    double TotalFundValue = await _assetService.GetTotalHoldingValueForUser(userId);
    double CashOnHand = await _assetService.GetAmountByAssetClassForUser(BOL.Enums.EAssetClass.Cash, userId);
    double Performance = await _assetService.GetPerformanceForUser(userId) * 100;
}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent   ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="index.html">Fantasy Hedge Fund</a>
        </div>


    </div>
</nav>

<!-- End Navbar -->
<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header ">

                    <h3 class="card-title chart-card-title">
                        <div>
                            <p>
                                <span class="chart-span-red">-0.9</span>
                                <span class="chart-other-title">Day Change</span>
                            </p>
                            <p>
                                <span class="chart-span-green">18.42%</span>
                                <span class="chart-other-title">YTD Change</span>
                            </p>
                            <p>
                                <span class="chart-span-green">$@CashOnHand.ToString("0.00")</span>
                                <span class="chart-other-title">Cash</span>
                            </p>
                            <p>
                                <span class="chart-span-yellow">1</span>
                                <span class="chart-other-title">Rank</span>
                            </p>
                        </div>
                        <div class="current-value">
                            <p>
                                <span class="chart-span-green-big">$@TotalFundValue.ToString("0.00")</span>
                                <span class="chart-other-title">Current Value</span>
                            </p>
                        </div>
                    </h3>
                </div>
                <div class="card-body ">
                    <div class="chart-area">
                        <canvas id="chartLinePurple"></canvas>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <h2 class="main-heading">Ape of Wallstreet Holdings</h2>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card ">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <th>
                                Asset
                            </th>
                            <th>
                                Name
                            </th>
                            <th class="text-center">
                                Qty
                            </th>
                            <th class="text-center">
                                Price
                            </th>
                            <th class="text-center">
                                Total
                            </th>
                            </thead>
                            <tbody>
                                @foreach (BOL.AssetBOL holding in holdings)
                                {
                                    <tr>
                                        <td>@holding.Class</td>
                                        <td>@holding.Name (@holding.ShortName)</td>
                                        <td class="text-center">@holding.Quantity</td>
                                        <td class="text-center">$@holding.Price</td>
                                        <td class="text-center">$@((holding.Quantity * holding.Price).ToString("0.00"))</td>
                                        <td>
                                            <button class="btn-red"><a href="~/asset/@holding.Id.ToString()/sell" >Sell</a></button>
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mb-4">
        <a class="btn-blue-glow" href="~/asset/trade">&nbsp;&nbsp;Buy&nbsp;&nbsp;</a>
    </div>

    <h2 class="main-heading">History</h2>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card ">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <th>
                                Action
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Qty
                            </th>
                            <th class="text-center">
                                Price
                            </th>
                            <th class="text-center">
                                Total
                            </th>
                            <th>
                                Date
                            </th>

                            </thead>
                            <tbody>
                                @foreach (BOL.TransactionBOL transaction in transactions)
                                {
                                    <tr>
                                        @{
                                            if (transaction.Type == BOL.Enums.ETransactionType.Buy)
                                            {
                                                <td>Buy</td>
                                            }
                                            else if (transaction.Type == BOL.Enums.ETransactionType.Sell)
                                            {
                                                <td>Sell</td>
                                            }
                                            else if (transaction.Type == BOL.Enums.ETransactionType.Draw)
                                            {
                                                <td>Draw</td>
                                            }
                                        }
                                        <td>@transaction.AssetLongName (@transaction.AssetShortName)</td>
                                        <td>@transaction.Quantity.ToString("0.00")</td>
                                        <td class="text-center">@transaction.Price.ToString("0.00")</td>
                                        <td class="text-center">@((transaction.Price * transaction.Quantity).ToString("0.00"))</td>

                                        <td>
                                            @transaction.Date
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      </div>
